USE [master]
GO
/****** Object:  Database [FlappyBird]    Script Date: 20/03/2014 17.44.56 ******/
CREATE DATABASE [FlappyBird]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FlabbyBird', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.DAVID\MSSQL\DATA\FlabbyBird.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FlabbyBird_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.DAVID\MSSQL\DATA\FlabbyBird_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FlappyBird].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FlappyBird]
GO
/****** Object:  User [flappybird]    Script Date: 20/03/2014 17.44.56 ******/
CREATE USER [flappybird] FOR LOGIN [flappybird] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [flappybird]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [flappybird]
GO
/****** Object:  Table [dbo].[Scores]    Script Date: 20/03/2014 17.44.56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scores](
	[ScoreId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](16) NOT NULL,
	[Score] [int] NOT NULL,
	[TimeStamp] [datetime] NOT NULL,
 CONSTRAINT [PK_Scores] PRIMARY KEY CLUSTERED 
(
	[ScoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[Classified]    Script Date: 20/03/2014 17.44.56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Classified] AS
SELECT TOP 5 t.Username
             ,t.Score
			 ,t.TimeStamp
			 ,count(t.Score) AS punteggio
FROM dbo.Scores t
GROUP BY t.Username
        ,t.Score
	    ,t.TimeStamp
ORDER BY t.Score desc
GO
USE [master]
GO
